@mixin tablet-size {
    @media (min-width: 321px) and (max-width: 768px){
        @content;
    }
}
@mixin desktop-size {
    @media (min-width: 769px){
        @content;
    }
}
@mixin flex-display-column {
    display: flex;
    flex-direction: column;  
    width: 100vw;
    height: auto;
  }
  @mixin flex-display-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;  
    width: 100vw;
    height: auto;
  }