@mixin tablet-size {
    @media (min-width: 768px) and (max-width: 1440px){
        @content;
    }
}
@mixin desktop-size {
    @media (min-width: 1440px){
        @content;
    }
}
@mixin flex-display-column {
    display: flex;
    flex-direction: column;  
    width: 100vw;
    height: auto;
  }
  @mixin flex-display-row {
    display: flex;
    flex-direction: row;  
    width: 100vw;
    height: auto;
  }
  @mixin standard-image-size {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: $mobile-padding;
  }
  @mixin header-mobile-style {
    font-size: 24px;
    line-height: 32px;
  }
  @mixin subheader-mobile-style {
    font-size: 14px;
    line-height: 22px;
  }
  @mixin pargraph-mobile-style{
    font-size: 13px;
    line-height: 18px;
  }
  @mixin header-tablet-style {
    font-size: 60px;
    line-height: 68px;
  }
  @mixin subheader-tablet-style {
    font-size: 16px;
    line-height: 24px;
  }
  @mixin pargraph-tablet-style{
    font-size: 14px;
    line-height: 2px;
  }