@import "./mixins.scss";

/****** to reduce the repetition of the same hex color ******/
$white-text: #ffffff;
$black-text: #323232;

html,
body {
  box-sizing: border-box;
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*********

  HEADER SECTION 

********/
.header {
  /****** general mixin for flex-column-display ******/
  @include flex-display-column;
  background-color: $black-text;
  color: $white-text;
  @include tablet-size {
    /* to make the header in horizontal */
    @include flex-display-row;
    padding: $tablet-padding;
  }
  &__logo {
    padding: 16px;
  }
  &__nav-list {
    display: flex;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  &__nav-list-item {
    width: 50%;
    padding: $mobile-padding; /** to looks like the mokeup 16px padding */
    padding-bottom: 10px;
    &:first-child {
      border-bottom: 4px solid $white-text;
    }
    @include tablet-size {
      width: 100%;
      margin: 0 30px;
      padding: 30px 5px;
    }
    &:first-child {
      border-bottom: 4px solid $white-text;
    }
  }
}

/*********

  MAIN-CONTAINER SECTION 

********/
.main {
  &__hero {
    /****** general mixin for flex-column-display ******/
    @include flex-display-row;
    align-items: center;
    justify-content: flex-start;
    height: 50vh;
    color: $white-text;
    background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/Images/hero-photo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: $mobile-padding;

    @include tablet-size {
      height: 100vh;
      padding: $tablet-padding;
    }
  }
  &__hero-title {
    @include header-mobile-style;
    width: 70%;
    @include tablet-size {
      @include hero-tablet-style;
    }
  }
  &__content {
    @include flex-display-column;
    @include pargraph-mobile-style;
    margin: 0 auto;
    color: $black-text;

    &-first-title {
      @include header-mobile-style;
      padding: 32px 16px 24px 16px;
      margin: 0;
    }
    &-image {
      @include standard-image-size; /***** look at the mokeup images file ***/
      padding: $mobile-padding;
      max-width: 288px;
      max-height: 145px;

      @include tablet-size {
        max-width: 720px;
        max-height: 365px;
      }
      @include desktop-size {
        max-width: 896px;
        max-height: 450px;
      }
    }
    &-article {
      @include flex-display-column;
      padding: $mobile-padding;
      margin-top: 24px;
    }
    &-article-qoute {
      margin-bottom: 32px;
      @include subheader-mobile-style;
    }
    &-article-span {
      @include subheader-mobile-style;
    }
    &-text {
      margin: 40px 0;
      @include pargraph-mobile-style;
    }
    &-text-title {
      @include subheader-mobile-style;
      margin: 0 0 24px 0;
    }
    &-gallery {
      background-color: #fafafa;
    }
    &-gallery-image {
      @include standard-image-size;
      margin-bottom: 16px;
    }
  }
}

/*********

  FOOTER SECTION 

********/
.footer {
  @include pargraph-mobile-style;
  background-color: $black-text;
  color: $white-text;
  padding: $mobile-padding;
  margin-bottom: 0;

  /****** social media icons ******/
  &__contant-title {
    @include header-mobile-style;
    padding: 32px 0 24px 0;
    margin: 0;
  }
  &__contant-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  &__contant-item {
    margin: 0 10px;
  }
  /****** contacts information ******/
  &__info-list {
    list-style: none;
    padding: 0;
    margin-bottom: 25px;
    @include pargraph-mobile-style;
  }
  /*** to add margin after every two lines ***/
  &__list-item:nth-child(1),
  &__list-item:nth-child(2) {
    @include subheader-mobile-style;
  }
  &__list-item:nth-child(2),
  &__list-item:nth-child(4) {
    margin-bottom: 15px;
  }
  /*** to fill the entire section with black background ***/
  &__info-list:last-child {
    padding-bottom: 20px;
    margin: 0;
  }
}
