@import "./mixins.scss";

/****** to reduce the repetition of the same hex color ******/
$white-text: #ffffff; 
$black-text: #000000;

html, body {
  box-sizing: border-box;
  margin: 0 auto;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*********

  HEADER SECTION 

********/
.header {
  /****** general mixin for flex-row-display ******/ 
  @include flex-display-row;
  background-color: #323232;
  color: $white-text;

  @include mobile-size {
    /****** general mixin for flex-column-display ******/ 
    @include flex-display-column;
  }
  &__logo {
    @include mobile-size {
      width: 100%;
      padding: 16px;
    }
  }
  &__nav {
    width: 100%;
  }
  &__nav-list {
    list-style: none;
    display: flex;

    @include mobile-size {
      text-align: center;
      margin: 0;
      padding: 0;    
    }
  }
  &__nav-list-item {
    
    @include mobile-size {
      width: 50%;
      &:first-child {
        // border-bottom: 6px solid $white-text;
        padding-bottom: 10px;
        border-bottom: 4px solid $white-text;
      }
    }
  }
}

/*********

  MAIN-CONTAINER SECTION 

********/
.main {
  &__hero {
    @include flex-display-row;
    color: $white-text;
    background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),url(../assets/Images/hero-photo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /********** for mobile -version only *********/
    @include mobile-size {
      padding: 0 16px;
      font-size: 24px;
      height: 55vh;
    }
  }
  &__hero-title {

    @include mobile-size {
      margin: 0;
      line-height: 2.9rem;
    }
  }
  &__content {
    margin: 0 auto;
    @include flex-display-column;

    @include mobile-size {
    &-first-title {
      font-size: 24px;
    }
    &-image {
      width: 30%;
      height: 145px;
    }
  }
}