$standard-padding: 0 16px;
@import "./mixins.scss";
@font-face {
  font-family: "Avenir Next";
  src: url(../assets/Fonts/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf);
}
/****** to reduce the repetition of the same hex color ******/
$white-text: #ffffff;
$black-text: #323232;

html,
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Avenir Next";
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*********

  HEADER SECTION 

********/
.header {
  /****** general mixin for flex-column-display ******/
  @include flex-display-column;
  background-color: $black-text;
  color: $white-text;

  &__logo {
    width: 100%;
    padding: 16px;
  }
  &__nav {
    width: 100%;
  }
  &__nav-list {
    display: flex;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  &__nav-list-item {
    width: 50%;
    padding-bottom: 10px;
    &:first-child {
      border-bottom: 4px solid $white-text;
    }
  }
}

/*********

  MAIN-CONTAINER SECTION 

********/
.main {
  &__hero {
    /****** general mixin for flex-column-display ******/
    @include flex-display-row;
    align-items: center;
    justify-content: flex-start;
    height: 50vh;
    color: $white-text;
    background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/Images/hero-photo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: $standard-padding;
  }
  &__hero-title {
    @include header-text-style;
    margin: 0;
    width: 70%;
  }
  &__content {
    @include flex-display-column;
    @include pargraph-text-style;
    margin: 0 auto;
    color: $black-text;

    &-first-title {
      @include header-text-style;
      padding: 32px 16px 24px 16px;
      margin: 0;
    }
    &-image {
      @include standard-image-size;
      padding: $standard-padding;
    }
    &-article {
      @include flex-display-column;
      padding: $standard-padding;
      margin-top: 24px;
    }
    &-article-qoute {
      font-weight: bold;
      margin-bottom: 32px;
    }
    &-qoute-span {
      font-weight: bold;
    }
    &-text {
      margin: 40px 0;
    }
    &-text-title {
      @include subheader-text-style;
      margin: 0 0 24px 0;
    }
    &-gallery {
      background-color: #fafafa;
    }
    &-gallery-image {
      @include standard-image-size;
      margin-bottom: 16px;
    }
  }
}

/*********

  FOOTER SECTION 

********/
.footer {
  @include pargraph-text-style;
  background-color: $black-text;
  color: $white-text;
  padding: $standard-padding;
  margin-bottom: 0;

  &__contant-title {
    @include header-text-style;
    padding: 32px 0 24px 0;
    margin: 0;
  }
  &__contant-list{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0 10px;
  }
  &:last-child{
    padding-bottom: 20px;
  }
  &__info {
    margin-bottom: 25px;
    @include pargraph-text-style;
  }
  &__info-name {
    font-weight: bold;
  }
}
