@font-face {
  font-family: Avenir Next-regular;
  src: url("../assets/Fonts/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: Avenir Next-bold;
  src: url("../assets/Fonts/AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: Avenir Next-bolder;
  src: url("../assets/Fonts/AvenirNextProLT/Linotype-AvenirNextLTPro-Demi.otf");
}

/****** to reduce the repetition of the same hex color ******/
html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/*********

  HEADER SECTION 

********/
.header {
  /****** general mixin for flex-column-display ******/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  background-color: #323232;
  color: #ffffff;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .header {
    /* to make the header in horizontal */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    padding: 0 24px;
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 0 180px;
  }
}

.header__logo {
  padding: 16px;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .header__logo {
    padding: 0;
  }
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.header__nav-list-item {
  width: 50%;
  margin: 0 16px;
  /** to looks like the mokeup 16px padding */
  padding-bottom: 10px;
}

.header__nav-list-item:first-child {
  border-bottom: 4px solid #ffffff;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .header__nav-list-item {
    width: 100%;
    margin: 0 30px;
    padding: 30px 5px;
  }
}

@media (min-width: 1440px) {
  .header__nav-list-item {
    margin: 0;
    margin-left: 56px;
  }
}

/*********

  MAIN-CONTAINER SECTION 

********/
.main__hero {
  /****** general mixin for flex-column-display ******/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 50vh;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 50, 50, 0.5)), to(rgba(50, 50, 50, 0.5))), url(../assets/Images/hero-photo.jpg);
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/Images/hero-photo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .main__hero {
    min-height: 400px;
  }
}

@media (min-width: 1440px) {
  .main__hero {
    min-height: 670px;
  }
}

.main__hero-title {
  font-size: 24px;
  line-height: 32px;
  font-family: Avenir Next-bold;
  width: 70%;
  margin: 0 16px;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .main__hero-title {
    font-size: 60px;
    line-height: 68px;
    font-family: Avenir Next-bold;
    margin: 0 24px;
  }
}

@media (min-width: 1440px) {
  .main__hero-title {
    margin: 0 180px;
    width: 35%;
  }
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  font-size: 13px;
  line-height: 18px;
  font-family: Avenir Next-regular;
  margin: 0 auto;
  color: #323232;
}

.main__content-first-title {
  font-size: 24px;
  line-height: 32px;
  font-family: Avenir Next-bold;
  margin: 0 16px;
  margin-top: 32px;
  padding: 0;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .main__content-first-title {
    font-size: 36px;
    line-height: 44px;
    font-family: Avenir Next-bold;
    margin: 0 24px;
    margin-top: 45px;
    padding: 0;
  }
}

@media (min-width: 1440px) {
  .main__content-first-title {
    margin: 0 180px;
    margin-top: 48px;
  }
}

.main__content-image {
  width: 100%;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /***** look at the mokeup images file ***/
  margin: 24px 0;
  max-width: 288px;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .main__content-image {
    margin: 32px 0;
    max-width: 720px;
  }
}

@media (min-width: 1440px) {
  .main__content-image {
    max-width: 900px;
    margin: 48px 0;
  }
}

.main__content-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  margin: 0 16px;
  margin-bottom: 40px;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .main__content-article {
    margin: 0 24px;
  }
}

@media (min-width: 1440px) {
  .main__content-article {
    margin: 0 180px;
    /***** to overlap the left&right margin ******/
    margin-bottom: 48px;
    padding: 0 95px;
  }
}

.main__content-article-qoute {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 22px;
  font-family: Avenir Next-bolder;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .main__content-article-qoute {
    font-size: 24px;
    line-height: 32px;
    font-family: Avenir Next-bold;
    margin-bottom: 40px;
  }
}

.main__content-article-span {
  margin: 32px 0 40px 0;
  font-size: 14px;
  line-height: 22px;
  font-family: Avenir Next-bolder;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .main__content-article-span {
    font-size: 16px;
    line-height: 24px;
    font-family: Avenir Next-bolder;
    margin: 0;
    margin-top: 40px;
  }
}

.main__content-box {
  font-size: 13px;
  line-height: 18px;
  font-family: Avenir Next-regular;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .main__content-box {
    font-size: 14px;
    line-height: 22px;
    font-family: Avenir Next-regular;
  }
}

@media (min-width: 1440px) {
  .main__content-box {
    margin: 0;
  }
}

.main__content-box-title {
  font-size: 14px;
  line-height: 22px;
  font-family: Avenir Next-bolder;
  margin: 0 0 24px 0;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .main__content-box-title {
    font-size: 24px;
    line-height: 32px;
    font-family: Avenir Next-bold;
    margin-bottom: 15px;
  }
}

@media (min-width: 1440px) {
  .main__content-box-title {
    margin: 56px 0 32px 0;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .main__content-box-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .main__content-text {
    width: 50%;
  }
}

@media (min-width: 1440px) {
  .main__content-text {
    width: 55%;
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .main__content-text:first-child {
    margin-right: 24px;
  }
}

@media (min-width: 1440px) {
  .main__content-text:first-child {
    margin-right: 40px;
  }
}

.main__content-gallery {
  background-color: #fafafa;
  padding: 0 16px;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .main__content-gallery {
    padding: 0 24px;
  }
}

@media (min-width: 1440px) {
  .main__content-gallery {
    padding: 0 180px;
    /***** to overlap the left&right margin ******/
  }
}

.main__content-gallery-title {
  font-size: 24px;
  line-height: 32px;
  font-family: Avenir Next-bold;
  margin: 0;
  padding: 0;
  margin: 32px 0 24px 0;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .main__content-gallery-title {
    font-size: 36px;
    line-height: 44px;
    font-family: Avenir Next-bold;
    margin: 32px 0 0 12px;
  }
}

@media (min-width: 1440px) {
  .main__content-gallery-title {
    margin: 48px 0 64px 0;
    /****** 2*24px= 48px(desktop-margin)margin for both of them ******/
    padding-left: 15px;
  }
}

.main__content-gallery-list {
  margin: 24px 0;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .main__content-gallery-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1440px) {
  .main__content-gallery-list {
    margin: 0;
    margin-bottom: 40px;
  }
}

.main__content-gallery-image {
  width: 100%;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .main__content-gallery-image {
    max-width: 224px;
    padding: 0 12px;
  }
}

@media (min-width: 1440px) {
  .main__content-gallery-image {
    max-width: 344px;
    padding: 0 12px;
  }
}

/*********

  FOOTER SECTION 

********/
.footer {
  font-size: 13px;
  line-height: 18px;
  font-family: Avenir Next-regular;
  background-color: #323232;
  color: #ffffff;
  padding: 0 16px;
  /****** social media icons ******/
  /****** contacts information ******/
  /*** to add margin after every two lines ***/
  /*** to fill the entire section with black background ***/
}

@media (min-width: 768px) and (max-width: 1440px) {
  .footer {
    padding: 0 24px;
  }
}

@media (min-width: 1440px) {
  .footer {
    padding: 0 180px;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .footer__contact {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .footer__contact-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__contact-title {
  font-size: 24px;
  line-height: 32px;
  font-family: Avenir Next-bold;
  padding-top: 35px;
  margin: 0;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .footer__contact-title {
    font-size: 36px;
    line-height: 44px;
    font-family: Avenir Next-bold;
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .footer__contact-icon-list {
    padding: 0;
  }
}

.footer__contact-icon {
  margin: 15px;
  margin-left: 5px;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .footer__contact-icon {
    margin: 0;
    margin-left: 32px;
  }
}

.footer__logo {
  display: nonepadding-top;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .footer__logo {
    display: inline;
    margin: 48px 18px;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .footer__info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
  }
}

.footer__info-list {
  list-style: none;
  padding: 0;
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 18px;
  font-family: Avenir Next-regular;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .footer__info-list {
    margin: 0;
    padding: 0;
  }
}

.footer__list-item:nth-child(1), .footer__list-item:nth-child(2) {
  font-size: 14px;
  line-height: 22px;
  font-family: Avenir Next-bolder;
}

.footer__list-item:nth-child(2), .footer__list-item:nth-child(4) {
  margin-bottom: 15px;
}

.footer__copy-rights {
  padding-bottom: 20px;
  width: 65%;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .footer__copy-rights {
    margin-top: 24px;
  }
}
/*# sourceMappingURL=style.css.map */