/****** to reduce the repetition of the same hex color ******/
html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/*********

  HEADER SECTION 

********/
.header {
  /****** general mixin for flex-row-display ******/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  height: auto;
  background-color: #323232;
  color: #ffffff;
}

@media screen and (max-width: 320px) {
  .header {
    /****** general mixin for flex-column-display ******/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    height: auto;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 100%;
    padding: 16px;
  }
}

.header__nav {
  width: 100%;
}

.header__nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 320px) {
  .header__nav-list {
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .header__nav-list-item {
    width: 50%;
  }
  .header__nav-list-item:first-child {
    padding-bottom: 10px;
    border-bottom: 4px solid #ffffff;
  }
}

/*********

  MAIN-CONTAINER SECTION 

********/
.main__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  height: auto;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 50, 50, 0.5)), to(rgba(50, 50, 50, 0.5))), url(../assets/Images/hero-photo.jpg);
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/Images/hero-photo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /********** for mobile -version only *********/
}

@media screen and (max-width: 320px) {
  .main__hero {
    padding: 0 16px;
    font-size: 24px;
    height: 55vh;
  }
}

@media screen and (max-width: 320px) {
  .main__hero-title {
    margin: 0;
    line-height: 2.9rem;
  }
}

.main__content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: auto;
}

.main__content-image {
  width: 30%;
  height: 145px;
}
/*# sourceMappingURL=styles.css.map */