@import "./mixins.scss";

/****** to reduce the repetition of the same hex color ******/
$white-text: #ffffff;
$black-text: #323232;

html,
body {
  box-sizing: border-box;
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*********

  HEADER SECTION 

********/
.header {
  /****** general mixin for flex-column-display ******/
  @include flex-display-column;
  background-color: $black-text;
  color: $white-text;
  @include tablet-size {
    /* to make the header in horizontal */
    @include flex-display-row;
    padding: $tablet-margin;
  }
  @include desktop-size {
    padding: $desktop-margin;
  }
  &__logo {
    padding: 16px;
    @include tablet-size {
      padding: 0;
    }
  }
  &__nav-list {
    display: flex;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  &__nav-list-item {
    width: 50%;
    margin: $mobile-margin; /** to looks like the mokeup 16px padding */
    padding-bottom: 10px;
    &:first-child {
      border-bottom: 4px solid $white-text;
    }
    @include tablet-size {
      width: 100%;
      margin: 0 30px;
      padding: 30px 5px;
    }
    @include desktop-size {
      margin: 0;
      margin-left: 56px;
    }
  }
}

/*********

  MAIN-CONTAINER SECTION 

********/
.main {
  &__hero {
    /****** general mixin for flex-column-display ******/
    @include flex-display-row;
    align-items: center;
    justify-content: flex-start;
    height: 50vh;
    color: $white-text;
    background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/Images/hero-photo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include tablet-size {
      min-height: 400px;
    }
    @include desktop-size {
      min-height: 670px;
    }
  }
  &__hero-title {
    @include header-mobile-style;
    width: 70%;
    margin: $mobile-margin;
    @include tablet-size {
      @include hero-tablet-style;
      margin: $tablet-margin;
    }
    @include desktop-size {
      margin: $desktop-margin;
      width: 35%;
    }
  }
  &__content {
    @include flex-display-column;
    @include pargraph-mobile-style;
    margin: 0 auto;
    color: $black-text;

    &-first-title {
      @include header-mobile-style;
      margin: $mobile-margin;
      margin-top: 32px;
      padding: 0;
      @include tablet-size {
        @include header-tablet-style;
        margin: $tablet-margin;
        margin-top: 45px;
        padding: 0;
      }
      @include desktop-size {
        margin: $desktop-margin;
        margin-top: 48px;
      }
    }
    &-image {
      @include standard-image-size; /***** look at the mokeup images file ***/
      margin: 24px 0;
      max-width: 288px;
      @include tablet-size {
        margin: 32px 0;
        max-width: 720px;
      }
      @include desktop-size {
        max-width: 900px;
        margin: 48px 0;
      }
    }
    &-article {
      @include flex-display-column;
      margin: $mobile-margin;
      margin-bottom: 40px;
      @include tablet-size {
        margin: $tablet-margin;
      }
      @include desktop-size {
        margin: $desktop-margin; /***** to overlap the left&right margin ******/
        margin-bottom: 48px;
        padding: 0 95px;
      }
    }
    &-article-qoute {
      margin-bottom: 32px;
      @include subheader-mobile-style;
      @include tablet-size {
        @include header2-tablet-style;
        margin-bottom: 40px;
      }
    }
    &-article-span {
      margin: 32px 0 40px 0;
      @include subheader-mobile-style;
      @include tablet-size {
        @include subheader-tablet-style;
        margin: 0;
        margin-top: 40px;
      }
    }
    &-box {
      @include pargraph-mobile-style;
      @include tablet-size {
        @include pargraph-tablet-style;
      }
      @include desktop-size {
        margin: 0;
      }
    }
    &-box-title {
      @include subheader-mobile-style;
      margin: 0 0 24px 0;
      @include tablet-size {
        @include header2-tablet-style;
        margin-bottom: 15px;
      }
      @include desktop-size {
        margin: 56px 0 32px 0;
      }
    }
    &-box-text {
      @include tablet-size {
        @include flex-display-row;
      }
    }
    &-text {
      @include tablet-size {
        width: 50%;
      }
      @include desktop-size {
        width: 55%;
        margin: 0;
      }
    }
    &-text:first-child {
      @include tablet-size {
        margin-right: 24px;
      }
      @include desktop-size {
        margin-right: 40px;
      }
    }
    &-gallery {
      background-color: #fafafa;
      padding: $mobile-margin;
      @include tablet-size {
        padding: $tablet-margin;
      }
      @include desktop-size {
        padding: $desktop-margin; /***** to overlap the left&right margin ******/
      }
    }
    &-gallery-title {
      @include header-mobile-style;
      margin: 0;
      padding: 0;
      margin: 32px 0 24px 0;
      @include tablet-size {
        @include header-tablet-style;
        margin: 32px 0 0 12px;
      }
      @include desktop-size {
        margin: 48px 0 64px 0; /****** 2*24px= 48px(desktop-margin)margin for both of them ******/
        padding-left: 15px;
      }
    }
    &-gallery-list {
      margin: 24px 0;
      @include tablet-size {
        @include flex-display-row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
      }
      @include desktop-size {
        margin: 0;
        margin-bottom: 40px;
      }
    }
    &-gallery-image {
      @include standard-image-size;
      margin-bottom: 16px;
      @include tablet-size {
        max-width: 224px;
        padding: 0 12px;
      }
      @include desktop-size {
        max-width: 344px;
        padding: 0 12px;
      }
    }
  }
}

/*********

  FOOTER SECTION 

********/
.footer {
  @include pargraph-mobile-style;
  background-color: $black-text;
  color: $white-text;
  padding: $mobile-margin;

  @include tablet-size {
    padding: $tablet-margin;
  }
  @include desktop-size {
    padding: $desktop-margin;
  }
  /****** social media icons ******/
  &__contact {
    @include tablet-size {
      justify-content: space-between;
      @include flex-display-row;
    }
  }
  &__contact-div {
    @include tablet-size {
      @include flex-display-row;
      justify-content: center;
      align-items: center;
    }
  }
  &__contact-title {
    @include header-mobile-style;
    padding-top: 35px;
    margin: 0;
    @include tablet-size {
      @include header-tablet-style;
      padding: 0;
      padding-right: 30px;
    }
  }
  &__contact-icon-list {
    @include tablet-size {
      padding: 0;
    }
  }
  &__contact-icon {
    margin: 15px;
    margin-left: 5px;
    @include tablet-size {
      margin: 0;
      margin-left: 32px;
    }
  }
  &__logo {
    @include tablet-size {
      display: inline;
      padding: 0 25px;
      margin: 48px 0;
    }
    @include desktop-size {
      padding: 0;
      padding-right: 20px;
    }
  }
  /****** contacts information ******/

  &__info { 
    @include tablet-size {
      justify-content: flex-start;
      @include flex-display-row;
    }
    @include desktop-size {
      justify-content: flex-start;
    }
  }
  &__info-list {
    list-style: none;
    padding: 0;
    margin-bottom: 25px;
    @include pargraph-mobile-style;
    @include tablet-size {
      margin: 0;
      padding: 0;
      width: 35%;
    }
    @include desktop-size {
      width: 25%;
    }
  }
  /*** to add margin after every two lines ***/
  &__list-item:nth-child(1),
  &__list-item:nth-child(2) {
    @include subheader-mobile-style;
  }
  &__list-item:nth-child(2),
  &__list-item:nth-child(4) {
    margin-bottom: 24px;
  }
  /*** to fill the entire section with black background ***/
  &__copy-rights {
    padding-bottom: 20px;
    width: 65%;
    @include tablet-size {
      margin: 0;
      margin-top: 40px;
    }
  }
}