@font-face {
  font-family: "Avenir Next";
  src: url(../assets/Fonts/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf);
}

/****** to reduce the repetition of the same hex color ******/
html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: "Avenir Next";
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/*********

  HEADER SECTION 

********/
.header {
  /****** general mixin for flex-column-display ******/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: auto;
  background-color: #323232;
  color: #ffffff;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .header {
    /* to make the header in horizontal */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100vw;
    height: auto;
    padding: 0 24px;
  }
}

.header__logo {
  padding: 16px;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.header__nav-list-item {
  width: 50%;
  padding: 0 16px;
  /** to looks like the mokeup 16px padding */
  padding-bottom: 10px;
}

.header__nav-list-item:first-child {
  border-bottom: 4px solid #ffffff;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .header__nav-list-item {
    width: 100%;
    margin: 0 30px;
    padding: 30px 5px;
  }
}

.header__nav-list-item:first-child {
  border-bottom: 4px solid #ffffff;
}

/*********

  MAIN-CONTAINER SECTION 

********/
.main__hero {
  /****** general mixin for flex-column-display ******/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 50vh;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 50, 50, 0.5)), to(rgba(50, 50, 50, 0.5))), url(../assets/Images/hero-photo.jpg);
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/Images/hero-photo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 16px;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .main__hero {
    height: 100vh;
    padding: 0 24px;
  }
}

.main__hero-title {
  font-size: 24px;
  line-height: 32px;
  width: 70%;
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: auto;
  font-size: 13px;
  line-height: 18px;
  margin: 0 auto;
  color: #323232;
}

.main__content-first-title {
  font-size: 24px;
  line-height: 32px;
  padding: 32px 16px 24px 16px;
  margin: 0;
}

.main__content-image {
  width: 100%;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  padding: 0 16px;
}

.main__content-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: auto;
  padding: 0 16px;
  margin-top: 24px;
}

.main__content-article-qoute {
  font-weight: bold;
  margin-bottom: 32px;
}

.main__content-qoute-span {
  font-weight: bold;
}

.main__content-text {
  margin: 40px 0;
}

.main__content-text-title {
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 24px 0;
}

.main__content-gallery {
  background-color: #fafafa;
}

.main__content-gallery-image {
  width: 100%;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  margin-bottom: 16px;
}

/*********

  FOOTER SECTION 

********/
.footer {
  font-size: 13px;
  line-height: 18px;
  background-color: #323232;
  color: #ffffff;
  padding: 0 16px;
  margin-bottom: 0;
}

.footer__contant-title {
  font-size: 24px;
  line-height: 32px;
  padding: 32px 0 24px 0;
  margin: 0;
}

.footer__contant-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer__contant-item {
  margin: 0 10px;
}

.footer__info {
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 18px;
}

.footer__info-name {
  font-weight: bold;
}

footer:last-child {
  padding-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */